.body {
    display: inline-block;
    background-color: #eee;
    margin: 0px 3px;
}

.body:hover{
    background-color: azure;
}

.text{
    margin: 0px;
    padding: 1px 5px;
    font-size: 13px;
}