.container{
    margin: 1rem 0 1rem 0;
    span{
        font-size: 1.5rem;
        color: black;
        margin: 0;
        font-weight: 300;
    }
    p{
        color: black;
        margin: 0;
    }
    a:hover{
        color: #5c656c;
    }
}